###############################################################
# Ignore
################################################################
# WinMerge backup file
*.*.bak

# VIM temp file
*.*~

################################################################
# Exceptions
################################################################
